th{
	background-color: maroon;
	color: white;
	font-size: 18px;	
}
input[type="button"], input[type="submit"] { 
	background-color: maroon;
    color: white;	    
    cursor: pointer;
	border-radius: 10px;
	width: 150px;
	height: 30px;
	font-weight: bold;
}
table{
	border-radius: 10px;
	width: 530px;
}